@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i')

body
	margin: 0
	padding: 0
	font-family: 'Open Sans', sans-serif
	font-weight: 400
	color: #333

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0

h1, h2, h3
	font-weight: 300

// MegaDraft Overrides
.megadraft-editor h2
	font-weight: 600
	margin-top: 30px
	margin-bottom: 15px
	&:first-child
		margin-top: 0

.megadraft-editor .paragraph + .paragraph
	margin-top: 15px
