bleach==1.4.3
dj-database-url==0.4.1
Django==1.9.7
django-appconf==1.0.2
django-compressor==2.0
django-compressor-autoprefixer==0.1.0
django-libsass==0.7
django-reversion==2.0.5
djangorestframework==3.3.3
gunicorn==19.6.0
html5lib==0.9999999
libsass==0.11.1
Markdown==2.6.6
psycopg2==2.6.2
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
whitenoise==3.2
https://github.com/littleweaver/django-bootstrap/tarball/master
