<nav class="navigation">
	<div class="navigation-right-icons">

		<span class="navigation-icon">
			<a class="link-is-muted" href="{% url "page_create" %}">
				<i class="fa fa-fw fa-plus"></i>
			</a>
		</span>

		{% if page %}
		<span class="navigation-icon">
			<a class="link-is-muted" href="{% url "page_update" page.slug %}">
				<i class="fa fa-fw fa-pencil"></i>
			</a>
		</span>
		{% endif %}
	</div>

		{% if request.user.is_authenticated %}
			<span class="navigation-icon">
				<a class="link-is-muted" href="#">
					<i class="fa fa-fw fa-user"></i>
				</a>
			</span>
		{% endif %}
</nav>
