<nav class="sidebar">
	{% block side %}
		<h2 class="sr-only">All Pages</h2>
		<ul class="sidebar-list">
			{% with current_page=page %}
				{% for page in pages %}
					{% if page != current_page %}
						<li>
							<a class="sidebar-item-is-link" href="{% url "page_detail" page.slug %}">
								{{ page.title }}
							</a>
						</li>
					{% else %}
						<li class="sidebar-item-is-current">
							{{ page.title }}
						</li>
					{% endif %}
				{% endfor %}
			{% endwith %}
		</ul>
	{% endblock side %}
</nav>
