$w-max-width: 800px
$w-padding: 100px

.wiki-page
	box-sizing: border-box
	margin: 0 auto
	padding: 0 $w-padding
	max-width: $w-max-width

.wiki-page__title
	font-size: 48px
	line-height: 60px
	margin: 20px 0

.wiki-page__body
	margin-bottom: 100px

.wiki-page__footer
	box-sizing: border-box
	background-color: #F5F5F5
	color: #888
	font-size: .8em
	position: sticky
	bottom: 0
	width: 100%
	max-width: $w-max-width - 2 * $w-padding
	padding: 15px 20px
	margin: 0 auto
	z-index: 1
	display: flex
	justify-content: space-between

.wiki-page__footer-status, .wiki-page__footer-controls
	text-align: left

 .wiki-page__footer-controls
	text-align: right
