.site-layout
	display: flex
	height: 100vh

	&-sidebar
		flex: 0 0 300px
		background-color: $blue-lightest
		border-right: 1px solid darken($blue-lightest, 2%)

	&-main
		flex: 1 1 700px

	&-column
		max-width: 750px
		margin: 0 auto
